aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
defusedxml
distro
exceptiongroup
faiss-cpu
fonttools
fpdf2
frozenlist
gitdb
gitpython
greenlet
h11
httpcore
httpx
idna
importlib-resources
jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
markdown-it-py
markupsafe
marshmallow
mdurl
multidict
mypy-extensions
narwhals
numpy
openai
orjson
packaging
pandas
pillow
pkgutil-resolve-name
propcache
protobuf
pyarrow
pydantic
pydantic-core
pydeck
pygments
pymupdf
python-dateutil
python-dotenv
pytz
pyyaml
referencing
regex
requests
requests-toolbelt
rich
rpds-py
scikit-learn
scipy
six
smmap
sniffio
sqlalchemy
streamlit
tenacity
threadpoolctl
tiktoken
toml
tornado
tqdm
typing-extensions
typing-inspect
tzdata
urllib3
watchdog
yarl
zipp
langchain-google-genai
google-generativeai
